.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1.5rem 0 2.5rem 1rem;
}
.cart-container {
  margin: 1.5rem 0 0 1rem;
  background-color: #92b5ca;
  height: 24rem;
}
