.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1.5rem 0 2.5rem 1rem;
}
.cart-container {
  margin: 1.5rem 0 0 1rem;
  background-color: #d6d6d6;
  height: 24rem;
  border-radius: .5rem;
}

@media  screen and (max-width: 486px) {
  .main-container{
    display: flex;
    flex-direction: column-reverse;
  }
}

@media  screen and (max-width: 486px) {
  .card-container{
    grid-template-columns: repeat(1,1fr);
  }
}