.main-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1.5rem 0 2.5rem 1rem;
}
.cart-container {
  margin: 1.5rem 0 2.5rem 1rem;
  background-color: #d6d6d6;
  border-radius: .5rem;
}
.text{
  padding-left: 1rem;
  color: #bd030c;
  text-align: center;
}
.btn-group{
  width: 100%;
  text-align: center;
}

.items-btn{
    background-color: #a2b8c5;
    color: #bd030c;
    font-size: 1.1rem;
    padding: .4rem;
    margin: .5rem;
    border: none;
    border-radius: .3rem;
    font-weight: 700;

}
.items-btn:hover{
    background-color: #86a1db;
}
.new-container{
  margin-top: 1rem;
  text-align: center;
}
.new-container img{
  border-radius: .5rem;
  width: 250px;
}

@media  screen and (max-width: 486px) {
  .main-container{
    display: flex;
    flex-direction: column-reverse;
  }
}

@media  screen and (max-width: 486px) {
  .card-container{
    grid-template-columns: repeat(1,1fr);
  }
}